In [2]:
import os

sample_path = os.path.join('..','artwork_sample.csv')
data_path = os.path.join('..','artwork_data.csv')

# Direct Filtering with Square Brackets

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv(sample_path)

In [6]:
# To see a specific column, this returns a series
print(data['id'])

# Returns row with index 1
print(data['id'][1])

0    1035
1    1036
2    1037
3    1038
4    1039
5    1040
6    1041
7    1042
8    1043
9    1044
Name: id, dtype: int64
1036

In [7]:
# For multiple columsn, pass an array into the square brackets
# This returns a DATAFRAME, cannot return based on index anymore
data[['artist','title']]

           artist                                              title
0   Blake, Robert  A Figure Bowing before a Seated Old Man with h...
1   Blake, Robert  Two Drawings of Frightened Figures, Probably f...
2   Blake, Robert  The Preaching of Warning. Verso: An Old Man En...
3   Blake, Robert     Six Drawings of Figures with Outstretched Arms
4  Blake, William  The Circle of the Lustful: Francesca da Rimini...
5  Blake, William      Ciampolo the Barrator Tormented by the Devils
6  Blake, William                        The Baffled Devils Fighting
7  Blake, William  The Six-Footed Serpent Attacking Agnolo Brunel...
8  Blake, William                 The Serpent Attacking Buoso Donati
9  Blake, William                 The Pit of Disease: The Falsifiers

In [8]:
# This will return a series of artist only and now we can access a single element from the series
data[['artist','title']]['artist'][1]

'Blake, Robert'

In [10]:
# Although you cannot access a single row, you can get a range of rows
# Inclusive of first index and exclusive of end index
data[1:3]

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
1,1036,A00002,"Blake, Robert",artist,38,"Two Drawings of Frightened Figures, Probably f...",date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922,support: 311 x 213 mm,311,213,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...
2,1037,A00003,"Blake, Robert",artist,38,The Preaching of Warning. Verso: An Old Man En...,?c.1785,Graphite on paper. Verso: graphite on paper,Presented by Mrs John Richmond 1922,1785.0,1922,support: 343 x 467 mm,343,467,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...

In [11]:
# This is still a dataframe, so we can still access an individual column with square brackets
data[1:5]['artist']

1     Blake, Robert
2     Blake, Robert
3     Blake, Robert
4    Blake, William
Name: artist, dtype: object

In [12]:
data[data['year'] > 1800]

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
4,1039,A00005,"Blake, William",artist,39,The Circle of the Lustful: Francesca da Rimini...,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,1919,image: 243 x 335 mm,243,335,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
5,1040,A00006,"Blake, William",artist,39,Ciampolo the Barrator Tormented by the Devils,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,1919,image: 240 x 338 mm,240,338,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-ciam...
6,1041,A00007,"Blake, William",artist,39,The Baffled Devils Fighting,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,1919,image: 242 x 334 mm,242,334,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
7,1042,A00008,"Blake, William",artist,39,The Six-Footed Serpent Attacking Agnolo Brunel...,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,1919,image: 246 x 340 mm,246,340,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
8,1043,A00009,"Blake, William",artist,39,The Serpent Attacking Buoso Donati,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,1919,image: 241 x 335 mm,241,335,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
9,1044,A00010,"Blake, William",artist,39,The Pit of Disease: The Falsifiers,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,1919,image: 243 x 340 mm,243,340,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...

In [13]:
data[data['year'] > 1800]['year'] # returns a series

4    1826.0
5    1826.0
6    1826.0
7    1826.0
8    1826.0
9    1826.0
Name: year, dtype: float64

# Data Indexing with .loc

In [14]:
import pandas as pd

In [15]:
data = pd.read_csv(sample_path)

In [18]:
# data.loc[ROWS,COLS]
print(data.loc[0, :])
print(data.loc[0:2, :]) #range is inclusive of start and end
print(data[0:2]) #range is exlusive of the end

id                                                                 1035
accession_number                                                 A00001
artist                                                    Blake, Robert
artistRole                                                       artist
artistId                                                             38
title                 A Figure Bowing before a Seated Old Man with h...
dateText                                                 date not known
medium                Watercolour, ink, chalk and graphite on paper....
creditLine                          Presented by Mrs John Richmond 1922
year                                                                NaN
acquisitionYear                                                    1922
dimensions                                        support: 394 x 419 mm
width                                                               394
height                                                              419
depth                                                               NaN
units                                                                mm
inscription                                                         NaN
thumbnailCopyright                                                  NaN
thumbnailUrl          http://www.tate.org.uk/art/images/work/A/A00/A...
url                   http://www.tate.org.uk/art/artworks/blake-a-fi...
Name: 0, dtype: object
     id accession_number         artist artistRole  artistId
0  1035           A00001  Blake, Robert     artist        38  \
1  1036           A00002  Blake, Robert     artist        38
2  1037           A00003  Blake, Robert     artist        38

                                               title        dateText
0  A Figure Bowing before a Seated Old Man with h...  date not known  \
1  Two Drawings of Frightened Figures, Probably f...  date not known
2  The Preaching of Warning. Verso: An Old Man En...         ?c.1785

                                              medium
0  Watercolour, ink, chalk and graphite on paper....  \
1                                  Graphite on paper
2        Graphite on paper. Verso: graphite on paper

                            creditLine    year  acquisitionYear
0  Presented by Mrs John Richmond 1922     NaN             1922  \
1  Presented by Mrs John Richmond 1922     NaN             1922
2  Presented by Mrs John Richmond 1922  1785.0             1922

              dimensions  width  height  depth units  inscription
0  support: 394 x 419 mm    394     419    NaN    mm          NaN  \
1  support: 311 x 213 mm    311     213    NaN    mm          NaN
2  support: 343 x 467 mm    343     467    NaN    mm          NaN

   thumbnailCopyright                                       thumbnailUrl
0                 NaN  http://www.tate.org.uk/art/images/work/A/A00/A...  \
1                 NaN  http://www.tate.org.uk/art/images/work/A/A00/A...
2                 NaN  http://www.tate.org.uk/art/images/work/A/A00/A...

                                                 url
0  http://www.tate.org.uk/art/artworks/blake-a-fi...
1  http://www.tate.org.uk/art/artworks/blake-two-...
2  http://www.tate.org.uk/art/artworks/blake-the-...
     id accession_number         artist artistRole  artistId
0  1035           A00001  Blake, Robert     artist        38  \
1  1036           A00002  Blake, Robert     artist        38

                                               title        dateText
0  A Figure Bowing before a Seated Old Man with h...  date not known  \
1  Two Drawings of Frightened Figures, Probably f...  date not known

                                              medium
0  Watercolour, ink, chalk and graphite on paper....  \
1                                  Graphite on paper

                            creditLine  year  acquisitionYear
0  Presented by Mrs John Richmond 1922   NaN             1922  \
1  Presented by Mrs John Richmond 1922   NaN             1922

              dimensions  width  height  depth units  inscription
0  support: 394 x 419 mm    394     419    NaN    mm          NaN  \
1  support: 311 x 213 mm    311     213    NaN    mm          NaN

   thumbnailCopyright                                       thumbnailUrl
0                 NaN  http://www.tate.org.uk/art/images/work/A/A00/A...  \
1                 NaN  http://www.tate.org.uk/art/images/work/A/A00/A...

                                                 url
0  http://www.tate.org.uk/art/artworks/blake-a-fi...
1  http://www.tate.org.uk/art/artworks/blake-two-...

In [20]:
data.loc[0:2, 'title'] # returns a series

0    A Figure Bowing before a Seated Old Man with h...
1    Two Drawings of Frightened Figures, Probably f...
2    The Preaching of Warning. Verso: An Old Man En...
Name: title, dtype: object

In [22]:
# Pass an array of columns for multiple columns,w hich returns a dataframe
data.loc[0:2, ['artist','title']]

# Pass an array of row labels
data.loc[[1,5],['artist','title']]

           artist                                              title
1   Blake, Robert  Two Drawings of Frightened Figures, Probably f...
5  Blake, William      Ciampolo the Barrator Tormented by the Devils

In [23]:
data.head()

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
0,1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,date not known,"Watercolour, ink, chalk and graphite on paper....",Presented by Mrs John Richmond 1922,NaN,1922,support: 394 x 419 mm,394,419,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...
1,1036,A00002,"Blake, Robert",artist,38,"Two Drawings of Frightened Figures, Probably f...",date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922,support: 311 x 213 mm,311,213,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...
2,1037,A00003,"Blake, Robert",artist,38,The Preaching of Warning. Verso: An Old Man En...,?c.1785,Graphite on paper. Verso: graphite on paper,Presented by Mrs John Richmond 1922,1785.0,1922,support: 343 x 467 mm,343,467,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
3,1038,A00004,"Blake, Robert",artist,38,Six Drawings of Figures with Outstretched Arms,date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922,support: 318 x 394 mm,318,394,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-six-...
4,1039,A00005,"Blake, William",artist,39,The Circle of the Lustful: Francesca da Rimini...,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,1919,image: 243 x 335 mm,243,335,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...

In [24]:
data.loc[[1,5],'id':'artistId']

     id accession_number          artist artistRole  artistId
1  1036           A00002   Blake, Robert     artist        38
5  1040           A00006  Blake, William     artist        39

In [ ]:
data.loc[data.artist == 'Blake, Robert', :]

In [26]:
data.loc[data.artist == 'Blake, Robert', ['title','year']]

                                               title    year
0  A Figure Bowing before a Seated Old Man with h...     NaN
1  Two Drawings of Frightened Figures, Probably f...     NaN
2  The Preaching of Warning. Verso: An Old Man En...  1785.0
3     Six Drawings of Figures with Outstretched Arms     NaN

# Using .iloc to Access Specific Rows or Columns

In [27]:
import pandas as pd

In [39]:
data = pd.read_csv(sample_path)

In [40]:
# Return just the first row
data.iloc[0,:]

id                                                                 1035
accession_number                                                 A00001
artist                                                    Blake, Robert
artistRole                                                       artist
artistId                                                             38
title                 A Figure Bowing before a Seated Old Man with h...
dateText                                                 date not known
medium                Watercolour, ink, chalk and graphite on paper....
creditLine                          Presented by Mrs John Richmond 1922
year                                                                NaN
acquisitionYear                                                    1922
dimensions                                        support: 394 x 419 mm
width                                                               394
height                                                              419
depth                                                               NaN
units                                                                mm
inscription                                                         NaN
thumbnailCopyright                                                  NaN
thumbnailUrl          http://www.tate.org.uk/art/images/work/A/A00/A...
url                   http://www.tate.org.uk/art/artworks/blake-a-fi...
Name: 0, dtype: object

In [41]:
# loc vs iloc
print(data.loc[0:3,:]) #inclusive
print(data.iloc[0:3, :]) #exclusive of the end

     id accession_number         artist artistRole  artistId
0  1035           A00001  Blake, Robert     artist        38  \
1  1036           A00002  Blake, Robert     artist        38
2  1037           A00003  Blake, Robert     artist        38
3  1038           A00004  Blake, Robert     artist        38

                                               title        dateText
0  A Figure Bowing before a Seated Old Man with h...  date not known  \
1  Two Drawings of Frightened Figures, Probably f...  date not known
2  The Preaching of Warning. Verso: An Old Man En...         ?c.1785
3     Six Drawings of Figures with Outstretched Arms  date not known

                                              medium
0  Watercolour, ink, chalk and graphite on paper....  \
1                                  Graphite on paper
2        Graphite on paper. Verso: graphite on paper
3                                  Graphite on paper

                            creditLine    year  acquisitionYear
0  Presented by Mrs John Richmond 1922     NaN             1922  \
1  Presented by Mrs John Richmond 1922     NaN             1922
2  Presented by Mrs John Richmond 1922  1785.0             1922
3  Presented by Mrs John Richmond 1922     NaN             1922

              dimensions  width  height  depth units  inscription
0  support: 394 x 419 mm    394     419    NaN    mm          NaN  \
1  support: 311 x 213 mm    311     213    NaN    mm          NaN
2  support: 343 x 467 mm    343     467    NaN    mm          NaN
3  support: 318 x 394 mm    318     394    NaN    mm          NaN

   thumbnailCopyright                                       thumbnailUrl
0                 NaN  http://www.tate.org.uk/art/images/work/A/A00/A...  \
1                 NaN  http://www.tate.org.uk/art/images/work/A/A00/A...
2                 NaN  http://www.tate.org.uk/art/images/work/A/A00/A...
3                 NaN  http://www.tate.org.uk/art/images/work/A/A00/A...

                                                 url
0  http://www.tate.org.uk/art/artworks/blake-a-fi...
1  http://www.tate.org.uk/art/artworks/blake-two-...
2  http://www.tate.org.uk/art/artworks/blake-the-...
3  http://www.tate.org.uk/art/artworks/blake-six-...
     id accession_number         artist artistRole  artistId
0  1035           A00001  Blake, Robert     artist        38  \
1  1036           A00002  Blake, Robert     artist        38
2  1037           A00003  Blake, Robert     artist        38

                                               title        dateText
0  A Figure Bowing before a Seated Old Man with h...  date not known  \
1  Two Drawings of Frightened Figures, Probably f...  date not known
2  The Preaching of Warning. Verso: An Old Man En...         ?c.1785

                                              medium
0  Watercolour, ink, chalk and graphite on paper....  \
1                                  Graphite on paper
2        Graphite on paper. Verso: graphite on paper

                            creditLine    year  acquisitionYear
0  Presented by Mrs John Richmond 1922     NaN             1922  \
1  Presented by Mrs John Richmond 1922     NaN             1922
2  Presented by Mrs John Richmond 1922  1785.0             1922

              dimensions  width  height  depth units  inscription
0  support: 394 x 419 mm    394     419    NaN    mm          NaN  \
1  support: 311 x 213 mm    311     213    NaN    mm          NaN
2  support: 343 x 467 mm    343     467    NaN    mm          NaN

   thumbnailCopyright                                       thumbnailUrl
0                 NaN  http://www.tate.org.uk/art/images/work/A/A00/A...  \
1                 NaN  http://www.tate.org.uk/art/images/work/A/A00/A...
2                 NaN  http://www.tate.org.uk/art/images/work/A/A00/A...

                                                 url
0  http://www.tate.org.uk/art/artworks/blake-a-fi...
1  http://www.tate.org.uk/art/artworks/blake-two-...
2  http://www.tate.org.uk/art/artworks/blake-the-...

In [43]:
# To better see difference of loc and iloc, set the index to id
data.set_index('id', inplace=True)

In [45]:
# loc vs iloc
print(data.loc[1035:1037,:]) #inclusive
print(data.iloc[0:3, 0:3]) #exclusive of the end

     accession_number         artist artistRole  artistId
id
1035           A00001  Blake, Robert     artist        38  \
1036           A00002  Blake, Robert     artist        38
1037           A00003  Blake, Robert     artist        38

                                                  title        dateText
id
1035  A Figure Bowing before a Seated Old Man with h...  date not known  \
1036  Two Drawings of Frightened Figures, Probably f...  date not known
1037  The Preaching of Warning. Verso: An Old Man En...         ?c.1785

                                                 medium
id
1035  Watercolour, ink, chalk and graphite on paper....  \
1036                                  Graphite on paper
1037        Graphite on paper. Verso: graphite on paper

                               creditLine    year  acquisitionYear
id
1035  Presented by Mrs John Richmond 1922     NaN             1922  \
1036  Presented by Mrs John Richmond 1922     NaN             1922
1037  Presented by Mrs John Richmond 1922  1785.0             1922

                 dimensions  width  height  depth units  inscription
id
1035  support: 394 x 419 mm    394     419    NaN    mm          NaN  \
1036  support: 311 x 213 mm    311     213    NaN    mm          NaN
1037  support: 343 x 467 mm    343     467    NaN    mm          NaN

      thumbnailCopyright                                       thumbnailUrl
id
1035                 NaN  http://www.tate.org.uk/art/images/work/A/A00/A...  \
1036                 NaN  http://www.tate.org.uk/art/images/work/A/A00/A...
1037                 NaN  http://www.tate.org.uk/art/images/work/A/A00/A...

                                                    url
id
1035  http://www.tate.org.uk/art/artworks/blake-a-fi...
1036  http://www.tate.org.uk/art/artworks/blake-two-...
1037  http://www.tate.org.uk/art/artworks/blake-the-...
     accession_number         artist artistRole
id
1035           A00001  Blake, Robert     artist
1036           A00002  Blake, Robert     artist
1037           A00003  Blake, Robert     artist

In [47]:
data.reset_index(inplace=True)

In [48]:
data.iloc[[5,8],[0,2]]

     id          artist
5  1040  Blake, William
8  1043  Blake, William

# Filering with str.contains

In [49]:
import pandas as pd

In [50]:
data = pd.read_csv(sample_path)

In [53]:
print(data.medium)
type(data.medium)

0    Watercolour, ink, chalk and graphite on paper....
1                                    Graphite on paper
2          Graphite on paper. Verso: graphite on paper
3                                    Graphite on paper
4                              Line engraving on paper
5                              Line engraving on paper
6                              Line engraving on paper
7                              Line engraving on paper
8                              Line engraving on paper
9                              Line engraving on paper
Name: medium, dtype: object

pandas.core.series.Series

In [54]:
# For series, we can use a class of methods on it which are called string methods
data.medium.str

In [55]:
data.medium.str.contains('Graphite')

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7    False
8    False
9    False
Name: medium, dtype: bool

In [56]:
# data.loc[rows, cols]
data.loc[data.medium.str.contains('Graphite'),['artist']] #all rows where string in medium column contains 'Graopite'

          artist
1  Blake, Robert
2  Blake, Robert
3  Blake, Robert

In [57]:
# string contains method is case sensitive by default, add case=False to ignore case sensitivity
data.loc[data.medium.str.contains('Graphite', case=False),['artist','medium']]

          artist                                             medium
0  Blake, Robert  Watercolour, ink, chalk and graphite on paper....
1  Blake, Robert                                  Graphite on paper
2  Blake, Robert        Graphite on paper. Verso: graphite on paper
3  Blake, Robert                                  Graphite on paper

In [59]:
data.loc[data.medium.str.contains('(?i)Graphite',regex=True), ['artist','medium']]
data.loc[data.medium.str.contains('(?i)Graphite',regex=True) | data.medium.str.contains('(?i)Line',regex=True), ['artist','medium']]

           artist                                             medium
0   Blake, Robert  Watercolour, ink, chalk and graphite on paper....
1   Blake, Robert                                  Graphite on paper
2   Blake, Robert        Graphite on paper. Verso: graphite on paper
3   Blake, Robert                                  Graphite on paper
4  Blake, William                            Line engraving on paper
5  Blake, William                            Line engraving on paper
6  Blake, William                            Line engraving on paper
7  Blake, William                            Line engraving on paper
8  Blake, William                            Line engraving on paper
9  Blake, William                            Line engraving on paper

In [60]:
data.loc[data.medium.str.contains('Graphite', case=False) | data.medium.str.contains('Line', case=False),['artist','medium']]

           artist                                             medium
0   Blake, Robert  Watercolour, ink, chalk and graphite on paper....
1   Blake, Robert                                  Graphite on paper
2   Blake, Robert        Graphite on paper. Verso: graphite on paper
3   Blake, Robert                                  Graphite on paper
4  Blake, William                            Line engraving on paper
5  Blake, William                            Line engraving on paper
6  Blake, William                            Line engraving on paper
7  Blake, William                            Line engraving on paper
8  Blake, William                            Line engraving on paper
9  Blake, William                            Line engraving on paper

In [64]:
# There is an easier way!
data.loc[data.medium.str.contains('graphite|line', case=False),['artist','medium']]

           artist                                             medium
0   Blake, Robert  Watercolour, ink, chalk and graphite on paper....
1   Blake, Robert                                  Graphite on paper
2   Blake, Robert        Graphite on paper. Verso: graphite on paper
3   Blake, Robert                                  Graphite on paper
4  Blake, William                            Line engraving on paper
5  Blake, William                            Line engraving on paper
6  Blake, William                            Line engraving on paper
7  Blake, William                            Line engraving on paper
8  Blake, William                            Line engraving on paper
9  Blake, William                            Line engraving on paper

In [66]:
# If you want to run string method on a column, make sure you convert it to a string first
data.year.astype(str).str.contains('1826')
data.loc[data.year.astype(str).str.contains('1826')]

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
4,1039,A00005,"Blake, William",artist,39,The Circle of the Lustful: Francesca da Rimini...,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,1919,image: 243 x 335 mm,243,335,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
5,1040,A00006,"Blake, William",artist,39,Ciampolo the Barrator Tormented by the Devils,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,1919,image: 240 x 338 mm,240,338,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-ciam...
6,1041,A00007,"Blake, William",artist,39,The Baffled Devils Fighting,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,1919,image: 242 x 334 mm,242,334,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
7,1042,A00008,"Blake, William",artist,39,The Six-Footed Serpent Attacking Agnolo Brunel...,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,1919,image: 246 x 340 mm,246,340,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
8,1043,A00009,"Blake, William",artist,39,The Serpent Attacking Buoso Donati,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,1919,image: 241 x 335 mm,241,335,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
9,1044,A00010,"Blake, William",artist,39,The Pit of Disease: The Falsifiers,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,1919,image: 243 x 340 mm,243,340,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...

In [67]:
data = pd.read_csv(data_path, low_memory=False)

In [68]:
data.loc[data.dimensions.str.contains('support')]

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [ ]:
# This failed because there are nan values, skip them with na=False
data.loc[data.dimensions.str.contains('support', na=False)]